.app {
  color: white;
  background-color: rgb(73, 53, 255);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.browser {
  width: 80%;
  height: 80%;
  background-color: orange;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
}

.tab {
  position: relative;
  overflow: hidden;
  padding: 12px 24px;
  font-size: 20px;
  flex: 1;
  border: 1px solid grey;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: rgb(86, 67, 252);
}

.tab:hover .highlight {
  opacity: 0.2;
}

.highlight {
  width: 100%;
  top: -25px;
  bottom: -25px;
  border-radius: 100%;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background: radial-gradient(rgba(157, 128, 238, 1), rgba(157, 128, 238, 0));
}

.viewport {
  background-color: rgb(51, 28, 255);
  flex: 1;
}
